body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #111 0%, #000 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

/* CANVAS atrás */
#particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* CARD */
.login-box {
    width: 90%;
    max-width: 380px;
    padding: 30px;
    border-radius: 22px;

    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6),
                0 0 60px rgba(255, 215, 0, 0.25);

    backdrop-filter: blur(10px);

    border: 2px solid rgba(255, 230, 0, 0.9);

    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
}

/* Título Aurora Painel */
.aurora-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    color: black;

    -webkit-text-stroke: 1.2px yellow;
    text-shadow: 0 0 12px yellow, 0 0 22px yellow;

    animation: glowPulse 2s infinite;
}

@keyframes glowPulse {
    0% { text-shadow: 0 0 8px yellow, 0 0 16px yellow; }
    50% { text-shadow: 0 0 20px yellow, 0 0 50px yellow; }
    100% { text-shadow: 0 0 8px yellow, 0 0 16px yellow; }
}

/* Inputs */
.input-field {
    width: 100%;
    padding: 14px 18px;
    margin: 8px 0;

    background: rgba(20, 20, 20, 0.8);
    border: 1px solid #444;
    border-radius: 12px;

    color: white;
    font-size: 16px;

    outline: none;
    transition: 0.3s;
}

.input-field:focus {
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

/* Links */
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 16px;
}

.links a {
    color: #d6b100;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.links a:hover {
    color: yellow;
}

/* Botão */
.btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #ffdd44, #ffbb00);
    border: none;
    border-radius: 16px;

    color: black;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px yellow;
}