.login-card {
  width: 90%;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
}

.login-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.20) !important; /* tira o fundo branco do Safari */
  color: #fff;
  margin-bottom: 15px;
  outline: none;
  font-size: 15px;
}

/* Remove fundo branco padrão do iPhone */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  background: rgba(0, 0, 0, 0.20) !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 10000s ease-in-out 0s;
}