<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <!-- Partículas -->
    <div class="particle" style="top: 10%; left: 20%;"></div>
<div class="particle" style="top: 30%; left: 75%;"></div>
<div class="particle" style="top: 60%; left: 50%;"></div>
<div class="particle" style="top: 80%; left: 15%;"></div>
<div class="particle" style="top: 50%; left: 90%;"></div>

    <form class="login-box" method="POST">

        <div class="login-title">Login</div>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <input 
            type="text" 
            name="user" 
            placeholder="Usuário" 
            class="input-field"
            required
        >

        <input 
            type="password" 
            name="pass" 
            placeholder="Senha" 
            class="input-field"
            required
        >

        <div class="login-links">
            <a href="#">Esqueceu a senha?</a>
            <a href="#">Trocar senha</a>
        </div>

        <button class="login-btn">Entrar</button>

    </form>

</body>
</html>